<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%#Generates text fields for each individual data point of an entry and makes it required to be filled out in order to create an entry %>
  <div class="field form-group">
    <%= text_field_tag :first_name, '', :required => true, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="field form-group">
    <%= text_field_tag :last_name, '', :required => true, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="field form-group">
    <%= text_field_tag :email, '', :required => true, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group">
    <%= text_field_tag :phone, '', :required => true, class:"form-control", placeholder:"Phone Number" %>
  </div>

  <div class="field form-group">
    <%= text_field_tag :inquiry_details, '', :required => true, class:"form-control", placeholder:"Inquiry Type? (Food, Job, or Clothing)" %>
  </div>


  

  <div class="actions">
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>

